@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is a web application where users enter a password to open the application. The user can change the password. The password is stored encrypted in the database. 
    Using the app, users can create upload files and download files that they uploaded. 
    The user needs to specify a title for the newly uploaded files when they save them. 
    The previously uploaded files is visible in the application user interface. 
    The user can delete any files. The files list can be sorted according to the date it is uploaded.</p>
    <p>here is the <a href="https://github.com/yao1999/Private_Note">Source Code</a>.</p>
</div>
